<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Prasanti Clinic</title>
    <script th:src="@{/assets/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/numberConverter.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} "/>
    <link href="../static/css/invoicestyles.css" th:href="@{/css/invoicestyles.css}" rel="stylesheet" />
</head>
<body>
<div id="printData">
    <div class="flex-container">
        <div class="flex-child" id="clinic-details" align="left">
            <h1>Prasanti Clinic</h1>
            <h5>Gandhi Nagar 5th Lane East</h5>
            <h5>Berhampur, Odisha</h5>
            <h5>Phone Number: 0680-2950967</h5>
        </div>
        <div class="flex-child" id="logo">
            <img class ="docsymbol" src="../static/images/symbol.jpg" th:src="@{images/symbol.jpg}"/>
        </div>
        <div class="flex-child" id="invoice-details" align="right">
            <h5 id="date">Date :</h5>
            <h5 id="invoiceNo">Invoice # </h5>
        </div>
    </div>
    <div class="flex-container">
            <table>
                <tr>
                    <th>Category</th>
                    <th>Item</th>
                    <th>Cost per Unit</th>
                    <th>No of Units</th>
                    <th>Cost</th>
                    <th>Comments (If Any)</th>
                </tr>
                <tr>
                    <td>
                        <select class=" option-css form-control"  name="testOrder">
                            <option th:each="category : ${T(com.example.invoiceprinter.view.Category).values()}" th:value="${category}" th:text="${category.displayValue}"></option>
                            </option>
                        </select>
                    </td>
                    <td>
                        <select class=" option-css form-control"  name="testOrder">
                            <option th:each="items : ${T(com.example.invoiceprinter.view.Items).values()}" th:value="${items}" th:text="${items.displayValue}"></option>
                            </option>
                        </select>
                    </td>
                    <td>
                        <input min="0" name = "costPerUnit[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input min="0" name = "noOfUnits[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input min="0" name = "charge[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input min="0" name = "comments[]" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <select class=" option-css form-control"  name="testOrder">
                            <option th:each="category : ${T(com.example.invoiceprinter.view.Category).values()}" th:value="${category}" th:text="${category.displayValue}"></option>
                            </option>
                        </select>
                    </td>
                    <td>
                        <select class=" option-css form-control"  name="testOrder">
                            <option th:each="items : ${T(com.example.invoiceprinter.view.Items).values()}" th:value="${items}" th:text="${items.displayValue}"></option>
                            </option>
                        </select>
                    </td>
                    <td>
                        <input name = "costPerUnit[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input name = "noOfUnits[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input name = "charge[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input name = "comments[]" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <select class=" option-css form-control"  name="testOrder">
                            <option th:each="category : ${T(com.example.invoiceprinter.view.Category).values()}" th:value="${category}" th:text="${category.displayValue}"></option>
                            </option>
                        </select>
                    </td>
                    <td>
                        <select class=" option-css form-control"  name="testOrder">
                            <option th:each="items : ${T(com.example.invoiceprinter.view.Items).values()}" th:value="${items}" th:text="${items.displayValue}"></option>
                            </option>
                        </select>
                    </td>
                    <td>
                        <input name = "costPerUnit[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input name = "noOfUnits[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input name = "charge[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input name = "comments[]" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <select class=" option-css form-control"  name="testOrder">
                            <option th:each="category : ${T(com.example.invoiceprinter.view.Category).values()}" th:value="${category}" th:text="${category.displayValue}"></option>
                            </option>
                        </select>
                    </td>
                    <td>
                        <select class=" option-css form-control"  name="testOrder">
                            <option th:each="items : ${T(com.example.invoiceprinter.view.Items).values()}" th:value="${items}" th:text="${items.displayValue}"></option>
                            </option>
                        </select>
                    </td>
                    <td>
                        <input size="100000" name = "costPerUnit[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input size="100000" name = "noOfUnits[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input name = "charge[]" class="price-align-rt" type="number">
                    </td>
                    <td>
                        <input name = "comments[]" type="text">
                    </td>
                </tr>

            </table>
        </div>
    <div id="calclationPart" class="flex-container">
        <table>
           <tr>
               <td><span id="grossAmount">Gross Amount: </span></td>
               <td><span id="grossAmountValue">Gross Amount: </span></td>
           </tr>
            <tr>
                <td><span id="rebatePercentage">Rebate percent </span></td>
                <td><span id="rebatePercentageValue"><input name = "rebatePercentInput" class="price-align-rt" type="number"> </span></td>
            </tr>
            <tr>
                <td><span id="netAmount">Net Amount </span></td>
                <td><span id="netAmountValue"></span></td>
            </tr>
        </table>
    </div>
    <div class="flex-container">
        <span id="amountInWords"></span>
    </div>
    <div class="flex-container-sign">
        <span id="signature">Signature</span>
    </div>
    <br>
    <div class="flex-container-sign">
        <span id="name">Dr. J Appa Rao</span>
    </div>
</div>
    <div class="flex-container">
        <button id="clearButton" class="btn-spacing btn btn-danger">Clear All</button>
        <button id="searchButton" class="btn-spacing btn btn-info">Search Invoices</button>
        <button id="calculateButton" class="btn-spacing btn btn-danger">Calculate</button>
        <button id="printButton" class="btn-spacing btn btn-primary">Save and print</button>
    </div>
</body>
</html>